* {
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: #99ccff;
    background-image: url("../Images/background.png");
    background-repeat: repeat;
    margin: 0;
     display: grid;
    background-size: 100%;
}
.pageNavigation {
    position: sticky !important;
    top: 0px;
    background-color: #fcfcfc;
    width: 100%;
    height: 80%;
    padding: 5px;
    border-bottom: 1px dotted gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 20;
    position: center;
}

.spacer {
    width: 100%;
    height: 15px;
}
/*end of search*/


/*dropDown menu */

.dropdown {
    position: relative;
    display: inline-block;
    left: 18%;
    grid-area: categories;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
.logo {
    width: 30%;
    height: 100px;
    position: relative;
    left: 1.5%;
    top: 2px;
}

.tabs a {
    text-decoration: none;
    color: #0f0101;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    top: -9px;
    left: 27%;
    transition-duration: 0.6s;
    width: 100%;
}

.tabs a i {
    margin-right: 5px;
}

.tabs a:hover {
    color: #917999;
    font-size: 18px;
}

.basket a img {
    border: 0.5px solid blue;
    border-radius: 25px;
    background-color: white;
    padding: 10px 10px;
    width: 60px;
    height: 70px;
}

.basket a img:hover {
    border-radius: 25px;
    background-color: #87b5ff;
    padding: 10px 10px;
    width: 80px;
    height: 90px;
}

.basket {
    top: 0;
    right: 0;
    position: fixed;
    clear: both;
    float: right;
    height: 10%;
    z-index: 21;
}

/* Week Promotion */

.Wpromotion h2 {
    color: #7e4eb2
}

.Wpromotion img {
    width: 110%;
    height: 300px;
}

.bannerimgs {
    display: inline-block;
    width: 75%;
}

/* end Week Promotion */
/* begin items*/

.grid-container-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    max-width: 100%;
    max-height:160%;
    display: block;
}


.item:hover {
    background-color: #b1b1e3;
}

.item input {
    border-radius: 3%;
}

.item input:hover {
    border-radius: 25px;
    background-color: #686896;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
/* end items */

/* Subscribe*/

.subsribe p {
    display: inline-grid;
    font-size: 90%;
    font-family: Impact, Charcoal, sans-serif;
    margin-left: 33%;
    margin-top: 3%;
}
.buttons {
    background-color: #b28fc9;
    border: none;
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
    horiz-align: center;
}
.button{
    background-color: #b28fc9;
    color: white;
    padding: 2px 2px;
    vertical-align: middle;
    width: 10%;
    font-size: 16px;
    height: 100%;
alignment: center;
    right:0%;
    position: center;
    text-decoration: none;
}
.MoreInfobutton{
    background-color: #b28fc9;
    color: white;
    padding: 2px 2px;
    vertical-align: middle;
    width: 10%;
    font-size: 16px;

    alignment: center;
    right:0%;
    float: right;
    margin-right: 47%;
    position: absolute;
    text-decoration: none;
}

/* Forms */
.aboutus {
    display: block;
    width: 100%;
    padding-left: 1%;
}
.contactForm{
    max-width:100%;
}
.gmap{
    width:100%;
    align: middle;
}

.ContactForm input {
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.ContactForm input:hover {
    color: #fff;
    font-size: 20px;
    background: #b28fc9;
    padding: 14px 32px;

}
.ContactForm textarea {
    min-height: 100px;
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    text-align: center;
}

.demo1 {
    z-index: -8;
}

/* footer */

.payment {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 10px;
}

.social {
    display: inline-block;
    float: right;
     margin-right: 30px;
    padding-bottom: 10px;
}

.social, .payment h4 {
    color: black;
}

.footersec2 {
    bottom: 0;
    background-color: #fcfcfc;
    width: 100%;
}

.terms {
    background-color:#fcfcfc ;
    font-family: impact;
    color: white;
}

.aboutusinfo {
    margin-right: 10%;
}
/* end footer */
/* terms and conditions and privacy page */

.termsinfo {
    margin: auto;
    width: 100%;
    left: 2%;
}

.termspage {
    position: center;
    width: 100%;
}

.termstext {
    position: center;
    text-align: left;
    font-size: 14px;
    margin-left: 2%;
}

.termstextheader {
    text-align: left;
}

.privacyinfo {
    margin: auto;
    width: 100%;
    left: 2%;
}

.privacypage {
    position: center;
    width: 100%;

}

.privacytextheader{
    text-align: left;
}

.privacytext {
    position: center;
    text-align: left;
    font-size: 14px;
    margin-left: 2%;
}
/* end terms and conditions and privacy*/

/*login and sign up forms*/
.loginform {
    padding: 1%;
    border: 2px solid #ededeb;
    border-radius: 25px;
    position: center;
    margin: auto;
}

.signupform  {
    padding: 1%;
    border: 2px solid #ededeb;
    border-radius: 25px;
    margin: auto;
}

.signupsignin{
    max-width: 50%;
    margin-left: 25%;
}

.signupsignin input {
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.signupsignin input:hover {
    color: #fff;
    font-size: 20px;
    background: #b28fc9;
    padding: 14px 32px;
}

.signupsignin textarea {
    min-height: 100px;
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    text-align: center;
}

/*A grid for aboutus/contact us and login/signup*/
.left { grid-area: leftarea; }
.right { grid-area: rightarea; }

.grid-container2 {
    display: grid;
    grid-template-areas:
            'leftarea rightarea';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

/* grid for the basket */
.item1 {grid-area: item1}
.item2 {grid-area: item2}
.item3 {grid-area: item3}
.item4 {grid-area: item4}

.grid-container-basket {
    display: grid;
    grid-template-areas:
            'item1 item2 item3 item4';
    grid-gap: 10px;
    padding: 10px;
}
.grid-container-basket > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

.logout-container{
    display: inline-grid;
 height: 90%;
    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
}

.subscribe-container{
    display: inline-grid;

    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
}

.container{
    padding-left: 3%;
}
/* begin items*/

.grid-container-items {
    display: grid;
    grid-template-columns: auto auto auto  auto;
}
.grid-container-items > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    max-width: 100%;
    max-height:160%;
    display: block;
}

.item:hover {
    background-color: #b1b1e3;
}

.item input {
    border-radius: 3%;
}

.item input:hover {
    border-radius: 25px;
    background-color: #686896;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* end items */
/*member page*/
.exclusive{
    text-align: left;
    padding-left: 2%;
}
/*end of member page*/

/* grid for the navigation */
.home {grid-area: home}
.aboutuscontactus {grid-area: aboutuscontactus}
.categories {grid-area: categories}
.memberpage {grid-area: member}
.signupsigninnav { grid-area:signup }
.admin {grid-area: admin}

.grid-container-navigation {
    display: grid;
    grid-template-areas:
            'home aboutuscontactus categories member signup admin';
    grid-gap: 10px;
    padding-top: 10px;

    padding-left: 15%;
    padding-right: 15%;

}
.product-image{
    padding-left: 23%;

}

/* admin page table */
.columns {
    background-color: #b28fc9;
    font-weight: bold;
}
.products {
    width: 90%;
    padding-left: 10%;
    font-weight: normal;}

.products td, .products th {
    border: 1px solid #ddd;
    padding: 8px;
}

.products tr:hover {background-color: #ddd;}

.products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}